$def with (spiders,)
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小小爬虫</title>
    <link href="static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

<nav class="navbar navbar-inverse navbar-fixed-top site-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">小小爬虫系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/new"><i class="glyphicon glyphicon-plus"></i>添加新网页</a></li>
                <li><a href="http://127.0.0.1:5555">查看celery flower状态</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<br/>
<br/>
<br/>
<div class="container" style="width: 1000px;margin: auto;">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">抓取列表</div>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>URL</th>
            <th>下载</th>
            <th>状态</th>
            <th>日期</th>
          </tr>
        </thead>
        <tbody>
        $for spider in spiders:
          <tr>
            <th scope="row">$spider.id</th>
            <td>$spider.url</td>
            <td><a href="/static/$spider.tarfilename" >$spider.tarfilename</a></td>
              $if spider.status==1:
                 <td><button type="button" class="btn btn-xs btn-success">成功</button></td>
              $else:
                 <td><button type="button" class="btn btn-xs btn-danger">失败</button></td>
            <td>$spider.add_time</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  </body>
</html>